.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input.ui-inputfield
{
    width : 50px !important;

}

.pi {
  padding: 5px !important;
}

#inbox {
  background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #424ea8, #b7575a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #48508d, #552829); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#card {
  
  background:linear-gradient(135deg, #2e266e 0%,#7b2189 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

#req-card {
  background:linear-gradient(135deg, #2e266e 0%,#7b2189 100%);
  /* background-color: #120b1a; */
/* opacity: 0.8; */
/* background-image: radial-gradient(circle at center center, #02c7ff, #120b1a), repeating-radial-gradient(circle at center center, #02c7ff, #02c7ff, 10px, transparent 20px, transparent 10px); */
background-blend-mode: multiply;
}

.box {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transform: scale(1.02);
  cursor: pointer;
}

.chatbox {
   /* fallback for old browsers */
   background: #ebbba7;

   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, rgba(235, 187, 167, 0.5), rgba(207, 199, 248, 0.5));
 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, rgba(235, 187, 167, 0.5), rgba(207, 199, 248, 0.5))
}

.textarea-container {
  position: relative;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 10px;
  max-width: 1000px;
  bottom: 0;
}

textarea {
  background-color: transparent;
  width: calc(100% - 25px);
  border: none;
  resize: none !important;
  padding: 5px;
}

textarea:focus {
  outline: none;
}

.chat-icon {
 position: absolute;
 bottom: 10px;
 right: 10px;
}

figure {
  float: left;
  height: 3em;
  margin: 1.5em;
  width: 3em;
  -webkit-transform: perspective(500);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: .5s;
}
figure:hover {
  -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}
img {
  background-color: #222;
  box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
  display: block;
  height: 100%;
  -webkit-transition: .5s;
}
figure:hover img {
  box-shadow: none;
}
figcaption {
  background-color: #222;
  color: #fff;
  padding: 1.5em;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 0;
  -webkit-transition: .5s;
}
figure:hover figcaption {
  box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
}
h3 {
  font-weight: bold;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}
.avatarS {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: -15px;
}

.avatarR {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: -30px;
  margin-top: -20px;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 6em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -4.9em 0 0 0 var(--hover), inset 4.9em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 10em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffdd7f94;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
}

.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

/* body {
  color: #fff;
  background: #17181c;
  font: 300 1em "Fira Sans", sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
} */

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
}

/* h1 {
  font-weight: 400;
} */

code {
  color: #e4cb58;
  font: inherit;
}

.text-effect-1 {
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  text-transform: uppercase;
  /* padding: 64px; */
  background: linear-gradient(to right, hsl(0, 0%, 76%) 0, hsl(0, 5%, 22%) 10%, hsl(0, 0%, 100%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

.text-effect-2 {
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  text-transform: uppercase;
  /* padding: 64px; */
  background: linear-gradient(to right, hsl(0, 100%, 1%) 0, hsl(0, 4%, 95%) 10%, hsl(0, 100%, 1%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 1200px;
  }
  100% {
    background-position: 1200px;
  }
}

/* .shaking {
  display: flex;
}
.shaking>span:hover{
  animation: shake 3s infinite;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
} */

@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  20% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.homepage-box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.stack__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1), 0 -1px 2px rgba(0,0,0,0.25);
  font-size: 10rem;
}
.stack__card:nth-child(2) {
  background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.stack__card:nth-child(1) {
  background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.stack__card:nth-child(3) {
  background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.stack__card:nth-child(4) {
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.stack__card:nth-child(5) {
  background-color: #f6993f;
}

.btn-theme {
  background: #1c95de;
  font-size: 16px !important;
  margin-top: 4% !important;
  left: 43%
}

.btn-theme {
  color: #FFF !important;
  padding: 0.7rem 2.9rem;
  font-weight: 400;
  font-size: 0.875rem;
  display: inline-block;
  display: inline-flex;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  -moz-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px
}

.btn-theme i {
  margin-right: 7px
}

.btn-theme.a {
  color: #333;
  text-decoration: none !important;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out
}

.btn-theme:hover {
  box-shadow: none
}