.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input.ui-inputfield
{
    width : 50px !important;

}

.pi {
  padding: 5px !important;
}

#inbox {
  background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #424ea8, #b7575a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #48508d, #552829); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#card {
  
  background:linear-gradient(135deg, #2e266e 0%,#7b2189 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

#req-card {
  background:linear-gradient(135deg, #2e266e 0%,#7b2189 100%);
  /* background-color: #120b1a; */
/* opacity: 0.8; */
/* background-image: radial-gradient(circle at center center, #02c7ff, #120b1a), repeating-radial-gradient(circle at center center, #02c7ff, #02c7ff, 10px, transparent 20px, transparent 10px); */
background-blend-mode: multiply;
}

.box {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transform: scale(1.02);
  cursor: pointer;
}

.chatbox {
   /* fallback for old browsers */
   background: #ebbba7;

   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to right, rgba(235, 187, 167, 0.5), rgba(207, 199, 248, 0.5));
 
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, rgba(235, 187, 167, 0.5), rgba(207, 199, 248, 0.5))
}

.textarea-container {
  position: relative;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 10px;
  max-width: 1000px;
  bottom: 0;
}

textarea {
  background-color: transparent;
  width: calc(100% - 25px);
  border: none;
  resize: none !important;
  padding: 5px;
}

textarea:focus {
  outline: none;
}

.chat-icon {
 position: absolute;
 bottom: 10px;
 right: 10px;
}

figure {
  float: left;
  height: 3em;
  margin: 1.5em;
  width: 3em;
  -webkit-transform: perspective(500);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: .5s;
}
figure:hover {
  -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}
img {
  background-color: #222;
  box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
  display: block;
  height: 100%;
  -webkit-transition: .5s;
}
figure:hover img {
  box-shadow: none;
}
figcaption {
  background-color: #222;
  color: #fff;
  padding: 1.5em;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 0;
  -webkit-transition: .5s;
}
figure:hover figcaption {
  box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
}
h3 {
  font-weight: bold;
}